@import 'resources/styles/colours.scss';
@import 'resources/styles/a11y.scss';

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $backgroundColor;
  color: $textColor;
}

* {
  box-sizing: border-box;
}

a {
  color: $themeColor;
  text-decoration: none;
  font-weight: bold;
}

header {
  padding: 1em;
  text-align: center;

  > p {
    max-width: 1000px;
    margin: 0.5em auto;
    line-height: 1.5em;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.reaction-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reaction {
  height: 100px;
  width: 100px;
  position: relative;

  > img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 0;
    left: 0;
  }
}

.select-btns {
  display: flex;
  justify-content: space-around;
  padding: 20px;

  .select-btn {
    @include removeButtonStyles();
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    
    > span {
      margin-top: 0.3em;
      text-transform: capitalize;
    }
    
    &.selected > span {
      color: $themeColor;
    }
  }
}

.download {
  padding: 1em 0 0 1.5em;
  align-self: flex-start;

  &:hover {
    text-decoration: underline;
  }
}

.credits {
  font-size: 0.8em;
  text-align: right;
  margin: 0 0.8em 0.8em 0;

  > a {
    text-decoration: none;
  }
}